body{
	background-image:url(c.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	background:linear-gradient(rgba(138,63,191,0.6),rgba(191,63,155,0.6),rgba(63,121,191,0.6));
	width: 350px;
	-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
}
@-webkit-keyframes example {
 0%{
	background:linear-gradient(rgba(138,63,191,0.6),rgba(191,63,155,0.6));
 }
 25%{
	background:linear-gradient(rgba(191,63,155,0.6),rgba(63,121,191,0.6));
 }
 50%{
	background:linear-gradient(rgba(138,63,191,0.6),rgba(63,121,191,0.6));
 }
 75%{
	background:linear-gradient(rgba(138,63,191,0.6),rgba(63,121,191,0.6));

 }
 100%{
	background:linear-gradient(rgba(191,63,155,0.6),rgba(63,121,191,0.6));

 }
}
input{
	border:0;
	border-bottom:2px solid #BFBC01;
	background:none;
	outline-style: none;
	color: #fff;
	width: 100%;
	background-color: transparent;
}
input:hover{
	border-bottom:2px solid #018ABF;
}
::placeholder{
	color: #A0BF01;
	text-align: center;
}
header{
	background:linear-gradient(120deg,#3498db,#8e44ad,#3498db);
	padding: 15px;
	margin-top: -20%;
	color: #26F3F7;

}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
	-webkit-appearance:none;
}
button{
	width: 100%;
	background:linear-gradient(rgba(80,63,191,1.5),rgba(0,0,0,1.5),rgba(61,50,50,1));
	color: #fff;
	border:0;
	cursor: pointer;
	padding: 10px;
}
button:hover{
	background: linear-gradient(rgba(119, 191, 1,0.6),rgba(191,1,160,0.6),rgba(191,109,1,0.6))
}